In [1]:
from filo import Series

In [2]:
folders = ['data/img1', 'data/img2']
basefolder = 'data'

In [3]:
series = Series(paths=folders, savepath=basefolder, extension='.png')

In [4]:
series

File series [extension '.png', folders ['data\\img1', 'data\\img2'], savepath 'data', 20 files]

# Access individual files in series

In [5]:
series.files[0]  # first file in the first folder

filo.File #0 [img-00610.png in folder 'data\img1']

In [6]:
num = 19
series.files[num].num  # should always be equal to num

19

In [7]:
series.files[8].time  # unix time of file creation

1599832413.142153

# Get and save file info

In [8]:
series.files  # list of all filo.File objects

[filo.File #0 [img-00610.png in folder 'data\img1'],
 filo.File #1 [img-00611.png in folder 'data\img1'],
 filo.File #2 [img-00612.png in folder 'data\img1'],
 filo.File #3 [img-00613.png in folder 'data\img1'],
 filo.File #4 [img-00614.png in folder 'data\img1'],
 filo.File #5 [img-00615.png in folder 'data\img1'],
 filo.File #6 [img-00616.png in folder 'data\img1'],
 filo.File #7 [img-00617.png in folder 'data\img1'],
 filo.File #8 [img-00618.png in folder 'data\img1'],
 filo.File #9 [img-00619.png in folder 'data\img1'],
 filo.File #10 [img-00620.png in folder 'data\img1'],
 filo.File #11 [img-00625.png in folder 'data\img2'],
 filo.File #12 [img-00626.png in folder 'data\img2'],
 filo.File #13 [img-00627.png in folder 'data\img2'],
 filo.File #14 [img-00628.png in folder 'data\img2'],
 filo.File #15 [img-00629.png in folder 'data\img2'],
 filo.File #16 [img-00630.png in folder 'data\img2'],
 filo.File #17 [img-00631.png in folder 'data\img2'],
 filo.File #18 [img-00632.png in folder 'data\img2'],
 filo.File #19 [img-00633.png in folder 'data\img2']]

In [9]:
series.info.head()  # see top of info DataFrame

    folder       filename   time (unix)
num
0     img1  img-00610.png  1.599832e+09
1     img1  img-00611.png  1.599832e+09
2     img1  img-00612.png  1.599832e+09
3     img1  img-00613.png  1.599832e+09
4     img1  img-00614.png  1.599832e+09

In [10]:
series.duration  # time between first file and last file

datetime.timedelta(seconds=46, microseconds=2108)

In [11]:
series.save_info()

# Update file info

Completely replace file info (`series.files` and `series.info`) by that contained in the external file (overwrites `series.files`):

In [12]:
series.load_info('External_File_Info.txt') 
series.info.head()

    folder           filename  time (unix)
num
0      img      img-00610.png   1599832397
1      img      img-00611.png   1599832399
2      img      img-00612.png   1599832401
3      img      img-00613.png   1599832403
4      img      img-00614.png   1599832405

Load data from data previously saved with `save_info()` (here, will effectively reset files and info to what they were before the previous call):

In [13]:
series.load_info()
series.info.head()

    folder       filename   time (unix)
num
0     img1  img-00610.png  1.599832e+09
1     img1  img-00611.png  1.599832e+09
2     img1  img-00612.png  1.599832e+09
3     img1  img-00613.png  1.599832e+09
4     img1  img-00614.png  1.599832e+09

Keep file info but only update times using an external file (file must contain `num` and `time (unix)` as columns):

In [14]:
series.load_time('External_Time_Info.txt')
series.info.head()

    folder       filename  time (unix)
num
0     img1  img-00610.png   1607500500
1     img1  img-00611.png   1607500502
2     img1  img-00612.png   1607500504
3     img1  img-00613.png   1607500506
4     img1  img-00614.png   1607500508

Save this updated file info to csv file for future use:

In [15]:
series.save_info('Updated_File_Info.txt')